body {
    margin: 0;
    background-color: #f9f9f9;
}

h1 {
    font-size: 3em;
    margin: 0;
}

img {
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #24292e;
}

@media (max-width: 800px) {
    .container {
        height: 90vh;
    }
}

.container__child {
    margin: auto;
    padding: 15px 0;
}

@media (max-width: 900px) {
    .content__head__pic img {
        width: 180px;
        height: 180px;
    }
}

.content {
    justify-content: space-between;
    margin-bottom: 100px;
}

@media (max-width: 800px) {
    .content {
        margin-bottom: 60px;
    }
}

@media (max-height: 800px) {
    .content {
        margin-bottom: 20px;
    }
}

.content__head {
    display:flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .content__head {
        flex-direction: column;
    }
}

.content__head__pic {
    text-align: center;
}

@media (max-width: 800px) {
    .content__head__pic {
        padding-bottom: 30px;
    }
}

.content__head__title {
    text-align: center;
    align-self: center;
}

.content__description {
    margin-top: 60px;
    padding: 0 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-family: monospace;
    text-align: center;
    line-height: 170%;
}

@media (max-width: 800px) {
    .content__description {
        margin-top: 20px;
        font-size: 1em;
        line-height: 1.4;
    }

    .content__description div {
        padding-bottom: 15px;
    }
}

.content__description span {
    display: inline-block;
}

@media (max-width: 500px) {
    .content__description span {
        display: inline;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .socials {
        flex-wrap: wrap;
    }
}

.socials__link {
    padding: 20px;
}

@media (max-width: 800px) {
    .socials__link {
        padding: 10px;
    }
}

.socials__link a[href*="linkedin.com"]:hover svg {
    fill: #0077B5;
}

.socials__link a[href*="github.com"]:hover svg {
    fill: #5C4B99;
}

.socials__link a[href*="scholar.google.com"]:hover svg {
    fill: #2BA84A;
}

.link {
    color: #448CDD;
}

@media screen and (min-width: 800px)  {
    .mobile-break { display: none; }
}