body {
    margin: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
}

img {
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color: #24292e;
}

.content {
    justify-content: space-between;
    margin-bottom: 100px;
}

.content__head {
    display:flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .content__head {
        flex-direction: column;
    }

    .content__head__pic {
        padding-bottom: 30px;
    }
}

.content__head__pic {
    text-align: center;
}

.content__head__title {
    text-align: center;
}

.content__description {
    margin-top: 60px;
    padding: 0 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-family: monospace;
    text-align: center;
}

.content__description span {
    display: inline-block;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__link {
    padding: 20px;
}